{% extends "base.html" %}

{% block content %}


<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Nombre d'utilisateur</h4>

                        </div>
                        <div class="ms-auto d-flex no-block align-items-center">
                            
                        </div>
                    </div>
                    <div class="amp-pxl mt-4" style="height: 350px;">
                        <div class="chartist-tooltip"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Statistiques hebdomadaires</h4>
               
                    <div class="mt-5 pb-3 d-flex align-items-center">
                        <span class="btn btn-primary btn-circle d-flex align-items-center">
                            <i class="mdi mdi-cart-outline fs-4" ></i>
                        </span>
                        <div class="ms-3">
                            <h5 class="mb-0 fw-bold">Pourcentage de réservation de dron</h5>
                        </div>
                        <div class="ms-auto">
                            <span class="badge bg-light text-muted">+68%</span>
                        </div>
                    </div>
                    <div class="py-3 d-flex align-items-center">
                        <span class="btn btn-warning btn-circle d-flex align-items-center">
                            <i class="mdi mdi-star-circle fs-4" ></i>
                        </span>
                        <div class="ms-3">
                            <h5 class="mb-0 fw-bold">Service le plus visité</h5>
                        </div>
                        <div class="ms-auto">
                            <span class="badge bg-light text-muted">+68%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Table -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- Table -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- column -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                   
            </div>
        </div>
        <!-- column -->
{% endblock %}